<!DOCTYPE html>
<html lang="en">

    <head>
        <title>StudentTix</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Palanquin">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>


    <body>
                 <nav class="navbar navbar-default navbar-fixed-top">
                      <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                          <a class="navbar-brand" href="index.html">StudentTix</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                          <ul class="nav navbar-nav navbar-right">
                                    <li><a >C</a></li>
                                    <li><a >B</a></li>
                                    <li><a >A</a></li>
                          </ul>
                        </div>
                      </div>
                 </nav>

                <div id="main">
                  <h1>Hello World</h1>
                </div>

                <div id="wrapper">
                  <div id="wrapper">
                      <h1>This</h1>
                  </div>
                  <p>Hey</p>
                </div>
                  


                  <footer>
                    <p> &copy; StudentTix</p>
                  </footer>
      
    </body>
</html>
