
{% extends "bass.html" %}

{% block content %}
	<div class="container">
	<h1>Log in</h1>
	<br>
	<form action="" method="post">
        {{ form.hidden_tag() }}
				<div class="row"><div class="form-group col-sm-6">
            {{ form.email.label }}<br>
            {{ form.email(size=48, class="form-control") }}
        </div></div>
        <div class="row"><div class="form-group col-sm-6">
            {{ form.password.label }}<br>
            {{ form.password(size=48, class="form-control") }}
        </div></div>
        <div class="row"><div class="form-group col-sm-3">
					{{ form.submit(size=48, class="form-control") }}
				</div></div>
    </form>
	</div>
{% endblock %}
