
{% extends "bass.html" %}

{% block content %}
	<div class="container">
	<h1>Log in</h1>
    <h3 class="text-center light-green-text">{{ error }}</h3>
	<form action="" method="post">
        {{ form.hidden_tag() }}
            <div class="form-group col-sm-12">
                {{ form.email.label }}<br>
                {{ form.email(size=48, class="form-control") }}
            </div>

            <div class="form-group col-sm-12">
                {{ form.password.label }}<br>
                {{ form.password(size=48, class="form-control") }}
            </div>

        
        <div class="col-sm-12 text-center">
            {{ form.submit(size=48, class="form-control") }}
        </div>

    </form>
	</div>
{% endblock %}
