{% extends "bass.html" %}

{% block content %}


<!--
<div class="container">
  <h1>Messages</h1>
  <br>
  <ul class="nav nav-pills">
    <li><a data-toggle="pill" href="#grr">Gustavo Rodriguez</a></li>
    <li><a data-toggle="pill" href="#home">Home</a></li>
  </ul>

  <div id="msgs" class="tab-content">
    <div id="grr" class="tab-pane fade">
      <h3>Gustavo Rodriguez</h3>
        <div id="box">
          <p style="border:2px; border-style:solid; border-color:#e1e3e1; padding: 1em;" align="right">henlo systems god</p>
          <p style="border:2px; border-style:solid; border-color:#e1e3e1; padding: 1em;" align="right">henlo systems god</p>
          <p style="border:2px; border-style:solid; border-color:#e1e3e1; padding: 1em;" align="right">henlo systems god</p>
          <p style="border:2px; border-style:solid; border-color:#e1e3e1; padding: 1em;" align="right">henlo systems god</p>

          <p style="border:2px; border-style:solid; border-color:#3fcc2f; padding: 1em;" align="left">henlo student</p>
        </div>

      <div class="container">
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <input type="message" class="form-control" id="message" placeholder="Enter message" name="message">
          </div>
          <button type="submit" class="btn btn-default">send</button>
        </form>
      </div>

    </div>

    <div id="home" class="tab-pane fade">
      <h3>HOME</h3>
      <div id="box" style="height:300px;width:600px;border:1px solid #ccc;overflow:auto;">
        a
      </div>
    </div>
  </div>
</div>

</body>
</html>
-->

<div class="container">
  <h1>Messages</h1>
  <br>
  <ul class="nav nav-pills">
    {% for u in users %}
      <li><a data-toggle="pill" href="#{{u[1]}}">{{ u[0] }}</a></li>
    {% endfor %}

  </ul>

  <div class="tab-content">
    {% for u, v in users.items() %}
      <div id="{{u[1]}}" class="tab-pane fade">
      <h3>{{ u[0] }}</h3>
        <div id="box">
          {% for m in v %}
            {% if m[1] == 1 %}
              <p style="border:2px; border-style:solid; border-color:#3fcc2f; padding: 1em;" align="left">{{ m[4] }}</p>
            {% else %}
              <p style="border:2px; border-style:solid; border-color:#e1e3e1; padding: 1em;" align="right">{{ m[4] }}</p>
            {% endif %}
          {% endfor %}
        </div>

        <div class="container">
          <form class="form-inline" action="{{ url_for('send_message') }}" method="post">
            <div class="form-group">
              <input type="message" class="form-control" id="message" placeholder="Enter message" name="message">
              <input type="hidden" class="form-control" id="message" name="to_id" value="{{ u[1] }}">

            </div>
            <button type="submit" class="btn btn-default">Send</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</div>





<!--
<p>
  {% for key, value in users.items() %}
    {% for message in value %}
      <p>{{ message[4] }}</p>
    {% endfor %}
  {% endfor %}
</p>

<p>
  {{ users }}
</p>
-->


{% endblock %}
