{% extends "bass.html" %}

{% block content %}

	<div class="container text-left">
		<h1> Sell a Ticket </h1>
		<form action="" method="post">
      {{ form.hidden_tag() }}
      
      <div class="row">
        <div class="col-sm-6">
          {{ form.event.label }}
          {{ form.event(size=48, class="form-control", required='required') }}
        </div>

        <div class="col-sm-6">
          {{ form.location.label }}
          {{ form.location(size=48, class="form-control", required='required') }}
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-4">
          {{ form.date.label }}
          {{ form.date(class="dtpick form-control", required='required') }}
        </div>

        <div class="col-sm-4">
          {{ form.time.label }}
          {{ form.time(class="form-control") }}
        </div>

        <div class="col-sm-4">
          {{ form.price.label }}
          {{ form.price(class="form-control", type="number", required='required', min=0) }}
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-12">
          {{ form.comments.label }}
          {{ form.comments(size=200, class="form-control") }}
        </div>
      </div>

      <br>
      <div class="row">
          <div class="col-sm-12">
            {{ form.submit(class="form-control") }}
          </div>
      </div>





		</form>
	</div>

    <script>
$(document).ready(function() {
    $('#embeddingDatePicker')
        .datepicker({
            format: 'mm/dd/yyyy'
        })
        .on('changeDate', function(e) {
            // Set the value for the date input
            $("#selectedDate").val($("#embeddingDatePicker").datepicker('getFormattedDate'));

            // Revalidate it
            $('#eventForm').formValidation('revalidateField', 'selectedDate');
        });

    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            selectedDate: {
                // The hidden input will not be ignored
                excluded: false,
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });
});
</script>

{% endblock %}
