{% extends "bass.html" %}

{% block content %}

	<div class="container text-left">
		<h1> Search for a Ticket </h1>
		<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
        <p>
            {{ form.event.label }}<br>
            {{ form.event(size=48) }}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(class="dtpick") }}
        </p>
		<br><br><br><br>
		<br><br><br><br>
        <p>
            {{ form.time.label }}<br>
            {{ form.time() }}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=48) }}
        </p>
        <p>{{ form.price1() }} {{ form.price1.label }}</p>
        <p>{{ form.price2() }} {{ form.price2.label }}</p>
        <p>{{ form.price3() }} {{ form.price3.label }}</p>
        <p>{{ form.price4() }} {{ form.price4.label }}</p>
        <p>{{ form.price5() }} {{ form.price5.label }}</p>
        <p>{{ form.price6() }} {{ form.price6.label }}</p>
		</form>
	</div>

{% endblock %}
