{% extends "bass.html" %}

{% block content %}

	<div class="container text-left">
		<h1 class="text-center"> Results </h1>
    <br>
		{% for result in results %}
		<div class="container">
			<div class="row">
				<div class="panel panel-default">
					<div class="container">



						Event: {{ result[2] }}<br>
		        		Date and Time: {{ result[3] }}<br>
		        		${{ result[4] }}<br>
		        		Place: {{ result[6] }}<br>
		        		{{ result[5] }}<br>

						<button class="form-control" onclick="message('{{ result[0] }}', '{{ result[1] }}', '{{ session[username] }}')">Message {{ result[1]}}.</button>
					</div>
	        	</div>
			</div>
		</div>
		{% endfor %}
	</div>

<script>
function message(id, name, username) {
    var txt;
    var person = prompt("Enter your message to " + name);
    if (person == null || person == "") {
        txt = "User cancelled the prompt.";
    } else {
        txt = "Hello " + id;
    }

    window.location.href = "usermessage/" + id + "/" + username + person
    document.getElementById("demo").innerHTML = txt;
}
</script>


{% endblock %}


